/* reset */
*{
    margin: 0px;
    padding: 0px;
    
}


/* creating variables  */


/* creating navbar */

#logo img{
    padding: 1px;
    height: 45px;
    width: 50px;
    margin: 0px 10px;
}
#navbar{
    display: flex;
    position: relative;
    align-items: center;
   

}
#navbar ::before{
    content: "";
     position: absolute;          /*   not understood */
     background-color: rgb(138, 130, 130);
     height: 100%;
     width: 100%;
     z-index: -1;
     opacity: 1;
}
#navbar ul {
    display: flex;
    position: relative;
    
}
#navbar ul li{
    /* margin-top: 10px; */
    list-style: none;
    font-size: 1.3rem;


}
#navbar ul li a{
    /* margin-top: 10px; */
    padding: 0px 20px;
    /* display: block; */
    border-radius: 20px;
    text-decoration: none;
    color: white;

    
}
#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 240, 240);
    border-radius: 20px;
    text-decoration: none;


    
}

/* home */

#home{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    height: 350px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    background-color: black;
    /* opacity: 1; */
    z-index: -1;
    height: 50%;
    width: 100%;
    background: url('../images/bg1.jpg');
}
.h-primary{
    font-size: 2.3rem;
    padding: 12px;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
}
#home p{
    color: rgb(21, 22, 21);
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;

}
.btn{
    background-color: brown;
    border: 2px solid rgb(230, 233, 238);
    color: rgb(224, 235, 238);
    padding: 3px 20px;
    margin: 17px;
    border-radius: 7px;
    font-size: 1.3rem;
    cursor: pointer;
}

/* services */

.services{
    text-align: center;
    /* margin-: 34px; */
    display: flex;

}
.services .box{
    border: 2px solid brown;
    /* margin-top: 100px; */
    
}
.services .box img{
    height: 100px;
    display: block;
    margin: auto;
}

.h-primarycenter{
    text-align: center;
    margin-top: 2px;
}
#scontainer::before{
    content: "";
    position: absolute;
    background-color: black;
    /* opacity: 1; */
    z-index: -1;
    height: 28%;
    width: 100%;
    background: url('../images/img1.jpg');
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

