/* utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
   font-family: 'Bree Serif', serif;


}
.btn{
    padding: 6px 20px;
    background-color: rgb(255, 0, 0);
    margin: 17px;
    color: white;
    font-weight: bold;
    
    text-shadow: 1px 1px 1px  rgb(3, 1, 17);
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
   
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.2);
    box-shadow: -2px  2px 3px  rgb(210, 224, 11);

    border: 2px solid white;

}
.btn:active{
    background-color: rgb(38, 241, 31);
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
   font-family: 'Bree Serif', serif;

}
.center{
    text-align: center;
}

/* reset  */
*{
    margin: 0px;
    padding: 0px;
}
/* variables  */

/* creating navigation bar  */

html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: "Gill Sans", sans-serif;
    z-index: 1;
}


#navbar ul
{
    display: flex;
}
#navbar ul li
{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a
{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 10px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#navbar::before
{
    top: 0px;
    left: 0px;
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* navbar: logo and image  */
#logo{
    margin: 10px 34px;
}
#logo img{
    width: 50px;
    margin: 3px 6px;
}


/* creating home  */

#home{
    height: 258px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    
}
#home p{
    color: white;
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;
    
}
#home::before{
    top: 0px;
    left: 0px;
    content: "";
    background: url('images/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 323px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}


/* creating services section  */

#services{
    margin: 34px;
    display: flex;

}

#services .box{
    border: 0.5px solid grey;
    padding: 34px;
    margin: 3px 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    
    box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.75);}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
   font-family: 'Bree Serif', serif;

}
.btnmore{
    padding: 7px;
    background-color: rgb(41, 204, 41);
    border-radius: 4px;
    width: 30%;
    border: 1px solid black;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
   
}
.btnmore:active{
    background-color: white;
    color: rgb(41, 204, 41);
}

/* client section  */

#client-section{
   position: relative;
    /* height: 270px; */
    
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('/images/img1.jpg'); */
    
}
#clients img{

    height: 44px;
}
.class-item{
    padding: 34px;
}

#client-section::before{
   
    content: "";
    background: url('images/img3.jpg');
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    
}

/* contact us  */
#contact{
    position: relative;
}
#contact::before{
    background: url('images/contactus.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    

}
#contact-box{
    display: flex;
    justify-content: center;
    padding-bottom:34px;
    align-items: center;

}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
/* footer  */
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
